# Database
POSTGRES_USER=talentscope
POSTGRES_PASSWORD=Rajasekhar06
POSTGRES_DB=talentscope_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# API Keys (Get your own keys - see README for instructions)
RAPIDAPI_KEY=your_rapidapi_key_here
GROQ_API_KEY=your_groq_api_key_here

# App Config
APP_ENV=development
LOG_LEVEL=INFO

ADZUNA_APP_ID=your_adzuna_app_id_here
ADZUNA_APP_KEY=your_adzuna_app_key_here